.header {
    text-align: center;
}

.header_img {
    background-image: url("../../../img/TitleBackground.jpg");
    height: 15rem;
}

.title_container {
    color: white;
    padding-top: 5px;
}

.title {
    color: black !important;
    font-size: 2.5rem;
    background-color: #ffffff;
    border: 1px solid black !important;
    width: 400px;
    margin: 5px;
    padding: 5px;
    padding-bottom: 0;
    opacity: 0.9;
    line-height: 110%;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 44px;
}

.title:link, .title:visited, .title:hover, .title:active {
    color: white;
    text-decoration: none;
}

.subtitle {
    color: #8d6f00;
    background-color: #ffffff;
    font-size: 1.1rem;
    border: 1px solid black !important;
    width: 400px;
    margin: 5px;
    padding: 5px;
    opacity: 0.9;
    line-height: 110%;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    color: black;
    font-size: 1.5rem;
}

.circleIcon {
    color: white;
    align-content: center;
}

.icon:hover {
    opacity: 0.7;
}

.socialMediaButtonRow {
    padding: 1.5rem;
}

.iconButton {
    margin-right: 1.5rem;
}

.navBar {
    align-content: center;
    margin-top: 15px;
}

.navBarOption {
    background-color: #1a1717;
    padding: 0.5rem 1rem 0.5rem;
    margin-right: 0.5rem;
    color: #8d6f00 !important;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
