.disabled {
  pointer-events: none;
  background-color: #bbb38f;
  line-height: 100%;
  padding: 5px 0 1px 0;
  margin: 0 2px 0 0;
  display: inline-block;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
  border-radius: 10em;
  text-transform: uppercase;
}

.active {
  background-color: #bbb38f;
  line-height: 100%;
  padding: 5px 0 1px 0;
  margin: 0 2px 0 0;
  display: inline-block;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
  border-radius: 10em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  background-color: #fc0;
  color: #5f4b01 !important;
  line-height: 100%;
  padding: 5px 0 1px 0;
  margin: 0 2px 0 0;
  display: inline-block;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
  border-radius: 10em;
  text-transform: uppercase;
}

.linkText {
  text-decoration: none;
  background-color: #fc0;
  color: #5f4b01 !important;
  line-height: 100%;
  padding: 5px 7px 1px 7px;
  margin: 0 2px 0 0;
  display: inline-block;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
  border-radius: 10em;
  text-transform: uppercase;
}

.linkCurrent {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  line-height: 100%;
  padding: 5px 0 1px 0;
  margin: 0 2px 0 0;
  display: inline-block;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
  border-radius: 10em;
  text-transform: uppercase;
}

.linkTextDisabled {
  pointer-events: none;
  color: #8d6f00 !important;
  background-color: #fc0;
  line-height: 100%;
  padding: 5px 7px 1px 7px;
  margin: 0 2px 0 0;
  display: inline-block;
  min-width: 30px;
  min-height: 18px;
  text-align: center;
  border-radius: 10em;
  text-transform: uppercase;
}
