.content {
    display: block;
    float: left;
    width: 75%;
    padding: 8% 5% 5% 0;
    box-sizing: border-box;
    margin: 0;
}

.aside {
    display: block;
    float: right;
    width: 25%;
    padding: 8% 0 5%;
    box-sizing: border-box;
}

.body {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    width: 1064px;
    margin: 0 auto;
    padding: 0;
}
