

.post_meta {
    margin: 0;
}

.post_title {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 2.5rem;
    line-height: 1.3;
    word-wrap: normal;
    font-weight: normal;
    padding: 0;
}

.inLine_Link {
    color: #F9966B;
}
